 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   /* background-image: linear-gradient(200deg,rgba(240, 174, 174, 0.301),rgba(0, 255, 136, 0.527),rgba(4, 0, 12, 0.466)); */
 }

 * {
   transition: all 1s;
   font-family: 'Quicksand', sans-serif;
 }

 .w100 {
   width: 100%;
 }

 .h500 {
   height: 70vh;
 }

 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }

 .grid-center {
   display: grid;
   justify-content: center;
   align-items: center;
   height: 90vh;
 }

 .togal {
   border: none;
   width: 50px;
   margin-left: auto;
   background: none;
 }

 .deep {
   transform: rotate(90deg);
 }

 .togal i {
   font-size: 100%;
 }

 .errorfont {
   font-size: 4rem;
 }

 .display-flex {
   display: flex;
   flex-wrap: wrap;
   margin-inline: 20px;
 }

 .col-20 {
   width: 20%;
   padding: 5px;

 }

 .col-80 {
   padding: 5px;
   width: 80%;
 }

 .isname {
   position: sticky;
   top: 0;
 }

 .new-btn {
   text-align: center;
   background: rgba(163, 102, 199, 0.623);
   display: inline;
   margin: 10px;

   border-radius: 30px;
   color: black;
   padding: 20px 50px;
   display: inline-block;
 }

 .btn-1 {
   padding: 5px 20px;
   margin: 5px;
   border-radius: 5px;
   border: 1px solid rgba(0, 0, 0, 0.555);
   font-size: 1rem;
 }

 .imgss {
   width: 100%;
   border: 4px solid black;
   margin: 10px;
 }

 .panel-dark {
   background-color: black;
   color: white;
 }

 .btnp {
   width: 100%;
   color: black;
   margin: 10px 0;
   background-color: rgb(253, 255, 117) !important;
   padding: 20px 0 !important;
 }

 .btnp:hover {
   color: white !important;
   background-color: black !important;
 }

 .togal {
   display: none;
 }

 .weather,
 .span-tag {
   color: red;
   padding: 5px;
 }

 @media only screen and (max-width: 700px) {

   .col-20,
   .col-80 {
     width: 100%;
   }

   .togal {
     display: block;
   }

   .thisremove {
     color: red;
     display: none;
   }

   .thisadd {
     display: block;
     color: blue;
   }
 }
.zinde{
  position: relative;
  z-index: 656;
}

 .sections {
   width: 100%;
   min-height: 100vh;
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.418), rgba(255, 73, 73, 0.178), rgba(77, 186, 201, 0.445), rgba(125, 230, 56, 0.733));
   background-size: cover;
   position: relative;
   color: rgb(255, 146, 246);
   overflow: hidden;
   /* background-attachment: fixed; */
 }

 .sections .wevy {
   position: absolute;
   width: 100%;
   height: 143px;
   bottom: 0;
   background-image: url(../public/wave.png);
   animation: wev 12s linear infinite;
   z-index: 0;

 }

 .sections .wevy::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 143px;
   bottom: 0;
   left: 0;
   opacity: 0.4;
   background-image: url(../public/wave.png);
   animation: wevs-reverse 12s linear infinite;
   z-index: -1;

 }

 .sections .wevy::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 143px;
   bottom: 0;
   left: 0;
   opacity: 0.6;
   background-image: url(../public/wave.png);
   animation-duration: -6s;
   animation: wev 20s linear infinite;
   z-index: -1;

 }

 @keyframes wev {
   0% {
     background-position: 0;
   }

   100% {
     background-position: 1360px;
   }

 }

 @keyframes wevs-reverse {
   0% {
     background-position: 1360px;
   }

   100% {
     background-position: 0;
   }
 }